<div class="row">
    <div class="col-sm-6">
        <span class="fa fa-anchor profile-title"></span> <span class="profile-title"> Craiter Profile</span>
    </div>
    <div class="col-sm-2 col-sm-offset-4">
        <span>Hello {{user.twitter.displayName}}!</span>
        <a logout href="/logout" class="btn btn-default">Logout</a>
    </div>
</div>

<div class="row">

    <!-- TWITTER INFORMATION -->
    <div class="col-sm-12">
        <table class="table table-responsive table-striped">
            <tr>
                <th>Search Name</th>
                <th>Search URL</th>
                <th></th>
            </tr>
            <tr ng-repeat="ss in user.search_strings">
                <td class="searchName">{{ss.name}}</td>
                <td class="searchString">{{ss.search}}</td>
                <td><button class="btn btn-default btn-del" ng-click="delSearch(ss)"><span class="fa fa-minus searchMinus"></span></button></td>
            </tr>
            <tr>
                <td><input class="newSearchNameInput" ng-model="newSearchName"/></td>
                <td><input class="newSearchStringInput" ng-model="newSearchString"/></td>
                <td><button class="btn btn-default btn-add" ng-click="addSearch()"><span class="fa fa-plus searchPlus"></span></button></td>
            </tr>
        </table>
        <!--<div class="row" ng-repeat="ss in user.search_strings">
            <div class="searchName col-sm-2">{{ss.name}}</div>
            <div class="searchString col-sm-8">{{ss.search}}</div>
        </div>        -->
    </div>


</div>