<div class="row">
    <div class="col-sm-6">
        <span class="fa fa-anchor profile-title"></span> <span class="profile-title"> Craiter Profile</span>
    </div>
    <div class="col-sm-2 col-sm-offset-4">
        <span>Hello {{user.twitter.displayName}}!</span>
        <a logout href="/logout" class="btn btn-default">Logout</a>
    </div>
</div>

<div class="row">

    <!-- TWITTER INFORMATION -->
    <div class="col-sm-12">
        <!--<table class="table table-responsive table-striped">
                <tr ng-repeat="ss in user.search_strings">
                    <td>{{ss.name}}</td>
                    <td>{{ss.search}}</td>
                </tr>
        </table>        -->
        
        <div ui-grid="{data: user.search_strings}"></div>
    </div>


</div>